{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-runtime",
      ]
    },
    "test": {
      "plugins": [
        "istanbul",
        "rewire"
      ]
    }
  }
}